<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="Lobby.Server.GamingLobbyService">
				<endpoint address="net.tcp://localhost:8000/GamingLobbyService"
						  binding="netTcpBinding"
						  contract="Lobby.Contracts.IGamingLobbyService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8000/GamingLobbyService" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<netTcpBinding>
				<binding name="NetTcpBinding_IGamingLobbyService">
					<reliableSession enabled="true" />
				</binding>
			</netTcpBinding>
		</bindings>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="false" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>